{% extends "base.html" %}
{% block title %}Ramjet Login{% endblock %}
{% block body %}
    <p id="info">{{ info }}</p>
{% endblock %}


{% block js %}
<script type="text/javascript">
    (function(){
        fetch('https://blog.laisky.com/api/user/ramjet-login/?token={{token}}', {
            credentials: 'include',
            cache: 'no-cache'
        })
            .then(function() {
                document.getElementById('info').textContent = 'twitter login ok';
            });
    })();
</script>
{% endblock %}
