{% extends "base.html" %}
{% block title %}Twitter Search{% endblock %}
{% block body %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/twitter/">Twitter</a></li>
        <li class="breadcrumb-item active" aria-current="page">Search</li>
    </ol>
</nav>


<form action="/twitter/status/search/" method="post" id="twitterSearch" accept-charset="utf-8" enctype="multipart/form-data">
    <div class="form-group">
        <label for="text">Twitter Status Text:</label>
        <input type="text" name="text" value="{{search_text}}" />

        <input type="submit" value="搜索" />
    </div>
</form>

<article id="tweets">
    {% for tweet in tweets %}
    <div class="list-group">
        <a href="/twitter/status/{{tweet['id']}}/" class="list-group-item">
            <div class="d-flex w-100 justify-content-between">
                <h4 class="list-group-item-heading">{{(tweet.get('user', {}) or {}).get('name', '佚名')}}:</h4>
                <small>{{tweet['created_at']}}</small>
            </div>
            <p class="list-group-item-text">{{tweet['text']}}</p>
        </a>
    </div>
    {% endfor %}
</article>
{% endblock %}

{% block js %}
<script async type="text/javascript">
    (function(){
        document.querySelector("#twitterSearch").addEventListener("submit", async (e) =>{
            e.preventDefault();
            var text = document.querySelector("#twitterSearch input").value;

            console.log(text);

            const resp = await graphql.request(`query {
                TwitterStatues(
                    regexp: "${text}",
                    page: {page: 0, size: 99},
                ) {
                    id
                    text
                    created_at
                    user {
                        name
                    }
                }
            }`)


            var tweets = resp.TwitterStatues;
            var html = "";
            for(var i = 0; i < tweets.length; i++){
                var tweet = tweets[i];
                html += `
                    <div class="list-group">
                        <a href="/twitter/status/${tweet.id}/" class="list-group-item">
                            <div class="d-flex w-100 justify-content-between">
                                <h4 class="list-group-item-heading">${tweet.user && tweet.user.name || '佚名'}:</h4>
                                <small>${tweet.created_at}</small>
                            </div>
                            <p class="list-group-item-text">${tweet.text}</p>
                        </a>
                    </div>`;
            }

            $("#tweets").html(html);
            return false;
        });
    }());
</script>
{% endblock %}
