<!DOCTYPE HTML>
<html lang="en">

<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}Twitter Utils{% endblock %}</title>
        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <link rel="stylesheet" type="text/css" href="https://s3.laisky.com/static/gargantua/css/libs-edee677d7d.min.css">
        <link rel="stylesheet" type="text/css" href="https://s1.laisky.com/static/highlight/9.15.8/default.min.css">
        <link rel="stylesheet" type="text/css"
            href="https://s3.laisky.com/static/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
        {% block css %}
        <style>
            html {
                font-size: 16px;
                word-break: break-all;
            }

            body {
                margin: 10px;
                overflow-y: scroll;
                font-size: 16px;
            }

            article {
                width: 90%;
                padding: 10px;
                float: none;
            }
        </style>
        {% endblock %}
    {% endblock %}
</head>

<body class="container-fluid" style="padding: 10px;">
    {% block body %}
    {% endblock %}

    <script type="module">
        (async () => {
            // modules need to load before main.js
            window.libs = await import("https://s3.laisky.com/static/laisky/libs.js");
            let futures = [];
            futures.push(window.libs.LoadJsModules([
                "https://s3.laisky.com/static/babel-polyfill/6.23.0/polyfill.min.js",
                "https://s2.laisky.com/static/jquery/3.5.1/jquery-3.5.1.slim.min.js",
                "https://s1.laisky.com/static/twitter-bootstrap/4.6.0/js/bootstrap.min.js",
                "https://s3.laisky.com/static/js-sha1/v0.6.0/sha1.min.js",
                "https://s3.laisky.com/static/pouchdb/8.0.1/pouchdb.min.js",
                "https://s3.laisky.com/static/marked/12.0.1/lib/marked.umd.js",
                "https://s3.laisky.com/static/mermaid/10.9.0/dist/mermaid.min.js"
            ]));
            futures.push(window.libs.LoadJsModules([
                "https://s3.laisky.com/static/sse/2.4.1-patch/sse-v3.js",
                "https://cdn.skypack.dev/graphql-request@6.1.0"
            ], "module"));
            await Promise.all(futures);

            window.SSE = (await import("https://s3.laisky.com/static/sse/2.4.1-patch/sse-v3.js")).SSE;

            const GraphQLClient = (await import("https://cdn.skypack.dev/graphql-request@6.1.0")).GraphQLClient;
            window.graphql = new GraphQLClient(window.GraphqlAPI, {
                headers: {
                    'Content-Type': 'application/json',
                    'Access-Control-Allow-Origin': '*',
                    'Access-Control-Allow-Methods': '*',
                    'Access-Control-Allow-Headers': '*'
                }
            });
        })();
    </script>
</body>

<script type="text/javascript">
    window.GraphqlAPI = "https://gq.laisky.com/query/";
</script>

{% block js %}
<script type="text/javascript">
</script>
{% endblock %}

</html>
