{% extends "base.html" %}
{% block title %}HTML Test{% endblock %}
{% block body %}

<div class="post_series" key="cn_his_eco">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">中国经济史 系列文章：</h3>
        </div>
        <div class="panel-body">
            <ul>
                <li><a href="https://blog.laisky.com/p/hongli/">《渐行渐远的红利》读后感 &amp; 摘抄</a></li>
                <li><a href="https://blog.laisky.com/p/reform-and-opening/">《中国经济改革进程》 摘抄</a></li>
                <li><a href="https://blog.laisky.com/p/china-miracle/">《中国的奇迹》读后感 &amp; 摘抄</a></li>
                <li><a href="https://blog.laisky.com/p/china-rural/">《城乡中国》读后感 &amp; 摘抄</a></li>
                <li><a href="https://blog.laisky.com/p/red-capitalism/">《红色资本》读后感 &amp; 摘抄</a></li>
                <li><a href="https://blog.laisky.com/p/bnjj/">《告别百年激进》读后感 &amp; 摘抄</a></li>
                <li><a class="btn btn-info" data-toggle="collapse" href="#collapseOne">
                        <i class="bi bi-filter-left"></i>《转型中的地方政府》读后感与摘抄</a>
                    <div id="collapseOne" class="collapse">
                        <div class="card-body">
                            yo
                        </div>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</div>




{% endblock %}
